.navbar {
	background-color: black;
	padding: 1% 0;
	font-size: 1.2em;
	

}

.navbar-brand {
	min-height: 55px;
	padding: 0 15px 5px;
}

.navbar-default .navbar-nav li a {
	margin: 5px;
	color: white;
}

.nav-item:hover {
	background-color: white;

}

.nav-link.active {
	color: black !important;
	background-color: white;

}
.navbar-default . navbar-nav li a:hover .navbar-default .navbar-nav li a.active {
	color: #FFF;

}

.container {

font-family: 'Libre Franklin', sans-serif;

}

#logo {
	height: 50px;

}

.text-div {
	font-size: 25px;
}


#home {
	background: url(../img/techy.jpg) no-repeat center center fixed;
	display: table;
	height: 1100px;
	position: relative;
	width: 100%;
	background-size: cover;
	

}

#home2 {
	background: url(../img/giphy.jpg) no-repeat center center fixed;
	display: block;
	height: 500px;
	position: relative;
	width: 100%;
	background-size: cover;
	
	
}

#tech {
	height: 250px;
}

#tech1 {
	height: 250px;
}

#tech2 {
	height: 400px;
}

.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;

}

.landing-text h1 {
	font-size: 500%;
	font-weight: 700;
	color: white;
}

.landing-text h3 {
	color: white;
}



.padding {
	padding: 10px;
}

.padding img {
	width: 100%;
}

#fixed {
	background: url(../img/contactme.jpg) no-repeat center center fixed;
	display: table;
	height: 60%;
	position: relative;
	width: 100%;
	background-size: cover;

}

footer {
	width: 100%;
	background-color: black;
	padding: 5% 5% 5% 5%;
	color: #FFF;
}

.fa {
padding: 15px;
font-size: 25px;
color: #fff;
}

.fa:hover {
	color: #D5D5D5;
	text-decoration: none;

}

.icon {
	max-width: 200px;
}

@media (max-width: 768px) {
	.landing-text h1 {
		font-size: 300%;
	}
}

.fa {
	font-size: 20px;
	padding: 10px;
}

.icon {
	padding-top: 5%;
	max-width: 100px;
}

.text-light {
	font-weight: 100px;
	padding-top: 10px;
}

#card1 {
	border-radius: 45%;
}

#card2 {
	border-radius: 45%;
}

#card3 {
	border-radius: 45%;
}

.col-lg-6 {
	margin: auto;
}

/*overlay*/


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.card-title {
	height: 10px;
}

#in1 {
	width: 50%;
	display: block;
	margin: 0 auto;

}

img-responsive {
	border-radius: 80%;
}

.text1 {
		 color: white;
		font-size: 18px; 

}




/*Desktop styles*/
@media only screen and (min-width: 961px) {

}

//**tablet styles*/
@media only screen and (min-width: 401px) and (max-width: 1200px) {
	#home {
		height: 1200px;
	}
}*/

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  	#home2 {
  	background: url(../img/giphy.jpg) no-repeat center center fixed;
	display: table;
	position: relative;
	background-size: cover;
}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

  	#home2 {
  	background: url(../img/giphy.jpg) no-repeat center center fixed;
	display: table;
	position: relative;
	background-size: cover;
}

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}
